* {
 background-color: #FFFFFF ;
 color: #000080 ;
}

a:link {color: #800080 ;}
a:visited {color: #ff0000 ;}


.right {
 float: right;
 padding: 0px 150px 0px 50px;
 
}

.left {
 float: left;
 padding: 0px 50px 0px 120px;
}

ul { list-style-type: disc;}
li { margin-bottom: 2em}

.description {font-size: x-small;}

header {
 text-align: center;
 font-weight: bold;
}

h2, h3, h4 {
 margin-top: 0;
 margin-bottom: 0;
}

h2 span {font-size: 120%;}

.geico {
 text-align: center;
 font-size: x-small;
}

img.center {
   display: block;
   margin: 0 auto;
}
p {font-size: small;}

hr {
 border: 1;
 width: 100%; 
}

p span {font-weight: bold;}